################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BMSSTV
/x64
/BMSSTV/x64
/hls.bmp
/Release/BMSSTV.exe
/Release/BMSSTV.pdb
/BMSSTV/Release/BMSSTV.iobj
/BMSSTV/Release/BMSSTV.ipdb
/BMSSTV/Release/BMSSTV.log
/BMSSTV/Release/BMSSTV.tlog/CL.command.1.tlog
/BMSSTV/Release/BMSSTV.tlog/CL.read.1.tlog
/BMSSTV/Release/BMSSTV.tlog/CL.write.1.tlog
/BMSSTV/Release/main.obj
/BMSSTV/Release/vc143.pdb
/BMSSTV/Release/sstvprocessor.obj
/BMSSTV/Debug/Binasc.obj
/BMSSTV/Debug/BMSSTV.exe.recipe
/BMSSTV/Debug/BMSSTV.ilk
/BMSSTV/Debug/BMSSTV.log
/BMSSTV/Debug/BMSSTV.tlog/BMSSTV.lastbuildstate
/BMSSTV/Debug/BMSSTV.tlog/CL.command.1.tlog
/BMSSTV/Debug/BMSSTV.tlog/Cl.items.tlog
/BMSSTV/Debug/BMSSTV.tlog/CL.read.1.tlog
/BMSSTV/Debug/BMSSTV.tlog/CL.write.1.tlog
/BMSSTV/Debug/BMSSTV.tlog/link.command.1.tlog
/BMSSTV/Debug/BMSSTV.tlog/link.read.1.tlog
/BMSSTV/Debug/BMSSTV.tlog/link.secondary.1.tlog
/BMSSTV/Debug/BMSSTV.tlog/link.write.1.tlog
/BMSSTV/Debug/main.obj
/BMSSTV/Debug/MidiEvent.obj
/BMSSTV/Debug/MidiEventList.obj
/BMSSTV/Debug/MidiFile.obj
/BMSSTV/Debug/MidiMessage.obj
/BMSSTV/Debug/Options.obj
/BMSSTV/Debug/sstvprocessor.obj
/BMSSTV/Debug/stb_vorbis.obj
/BMSSTV/Debug/vc143.idb
/BMSSTV/Debug/vc143.pdb
/Debug/BMSSTV.exe
/Debug/BMSSTV.pdb
/test.bmp
/BMSSTV/Release/BMSSTV.tlog/link.read.1.tlog
