################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/BMSSTV
/x64
/BMSSTV/x64
/hls.bmp
/Release/BMSSTV.exe
/Release/BMSSTV.pdb
/BMSSTV/Release/
/BMSSTV/Debug/
/Debug/
/test.bmp
/BMSSTV/Release/BMSSTV.tlog/link.read.1.tlog
